<body>
  <p>
    The following tickets have been deployed:
  </p>
  <div style="position:absolute; left:-9999px; top:0px;">
    <table class="table table-striped table-deploy-email" id="jira_issues_clipboard">
      <thead class="table-deploy-email-header">
        <tr class="table-deploy-email-body">
          <th class="table-deploy-email-header-row">Key</th>
          <th class="table-deploy-email-header-row" style="min-width: 300px">Summary</th>
        </tr>
      </thead>
      <tbody class="table-deploy-email-body">
      <% @jira_issues.each do |issue| %>
        <tr class="table-deploy-email-body <%= cycle('table-deploy-email-body-shadow', '') %>">
          <td nowrap class="table-deploy-email-key"><%=link_to(issue.key, issue.jira_url_for_issue, target: '_blank')%></td>
          <td class="table-deploy-email-body"><%=issue.summary%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</body>
