<div style="position:absolute; left:-9999px; top:0px;">
  <table class="table table-striped" id="jira_issues_clipboard" style="font-size: 13px;">
    <thead>
    <tr>
      <th>Key</th>
      <th>Summary</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
