<h4>JIRA issues ready to deploy, but not in this branch</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Ignore</th>
    <th>Key</th>
    <th>Last SHA</th>
    <th>Assignee</th>
    <th>Status</th>
    <th>Deploy Date</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="checkbox" checked></td>
    <td><a href="#">STORY-4533</a></td>
    <td><a href="#">aaf2ef4</a></td>
    <td>Yo Biziiac</td>
    <td>Ready to Deploy</td>
    <td>11/27/2016</td>
    <td>Description for ya</td>
  </tr>
  <tr class="danger">
    <td><input type="checkbox"></td>
    <td><a href="#">STORY-9999</a></td>
    <td><a href="#">bbf2ef4</a></td>
    <td>Dave Lamo</td>
    <td>Ready to Deploy</td>
    <td>11/30/2016</td>
    <td>The thingermahowzer</td>
  </tr>
  </tbody>
</table>
