<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<body>
The following tickets have been deployed:
<div style="position:absolute; left:-9999px; top:0px;">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Key</th>
      <th style="min-width: 300px">Summary</th>
    </tr>
    </thead>
    <tbody>
    <% @jira_issues.each do |issue| %>
      <tr>
        <td nowrap>' + <% issue.key %> + '</td><td>' + <% issue.summary %> + '</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</body>
</head>
</html>