<%
  background =  if local_assigns[:errors]
                  " bg-danger"
                elsif local_assigns[:warning]
                  " bg-warning"
                elsif local_assigns[:success]
                  " bg-success"
                end
  col_width = local_assigns[:col_width] || "col-md-4"
%>

<div class=<%= col_width %>>
  <div class="summary-tile<%= background %>">
    <div class="text-center summary-tile-title">
      <%= title %>
    </div>
    <div class="text-center summary-tile-value">
      <%= value %>
    </div>
  </div>
</div>
