<div>
  <div class="summary-tile committer-tile">
    <div class="text-center summary-tile-title">
      Deploy Reps
    </div>
    <div class="summary-tile-value">
      <%= deploy_reps.map { |(rep, count)| "#{rep}: #{count}" }.join("<br>").html_safe %>
    </div>
  </div>
</div>
