#summary-table {
  font-size: 2em;
}

.summary-title {
  font-size: 4em;
  //padding-bottom: 1em;
}

.summary-subtitle {
  font-size: 2em;
  padding-bottom: 1em;
}

.jira-tickets {
  .ticket-title {
    font-size: 2em;
    //margin-bottom: 0.5em;
  }

  .ticket-list {
    .ticket {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.25em;
    }
  }
}

.summary-tile {
  border: solid;
  min-height: 10em;
  margin-bottom: 1em;

  .summary-tile-title {
    padding-top: 5%;
    font-size: 1.5em;
  }

  .summary-tile-value {
    padding-top: 5%;
    font-size: 2em;
  }

  &.committer-tile {
    .summary-tile-title {
      padding-top: 0%;
      font-size: 2em;
    }

    .summary-tile-value {
      padding-left: .5em;
      font-size: 2em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.overview-link {
  font-size: 2em;
  padding-top: 1em;
}
