.summary-container {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
}

#summary-table {
  font-size: 2em;
}

.summary-title {
  font-size: 3em;
  font-weight: 500;
}

.summary-subtitle {
  font-size: 2em;
  padding-bottom: 1em;
}

.summary-tile {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .1);

  min-height: 10em;
  margin-bottom: 1.75em;

  .summary-tile-title {
    padding-top: .5em;
    font-size: 1.5em;
  }

  .summary-tile-value {
    padding-top: .5em;
    font-size: 2em;

    h2 {
      margin-top: .25em;
    }
  }

  &.jira-tickets {
    .summary-tile-title {
      font-size: 2em;
    }

    .ticket-list {
      .ticket {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.25em;
      }
    }
  }

  &.committer-tile {
    .summary-tile-value {
      padding-left: .5em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.overview-link {
  font-size: 2em;
  padding-top: 1em;
}
