.jira-issues, .jira-commits {
  margin-bottom: 3em;
}

.jira-issues-header {
  margin-bottom: 2em;
}

$table-border-color: #ddd;

.table-with-border {
  border: 1px solid $table-border-color;
}

#jira_issues_clipboard {
  font-size: 13px;
  border: 1px solid #ccc;

  a {
    color: #15c;
  }
}

/* dataTable overrides */
table.dataTable, table.dataTable.no-footer {
  border: 1px solid $table-border-color;
  border-top-width: 0;
}

table.dataTable thead th, table.dataTable thead td {
  border-color: darken($table-border-color, 5%);
}
