.jira-issues, .jira-commits {
  margin-bottom: 3em;
}

.jira-issues-header {
  margin-bottom: 2em;
}

$table-border-color: #ddd;

.table-with-border {
  border: 1px solid $table-border-color;
}

#jira_issues_clipboard {
  font-size: 13px;
  border: 1px solid #ccc;

  a {
    color: #15c;
  }
}

/* dataTable overrides */
table.dataTable, table.dataTable.no-footer {
  border: 1px solid $table-border-color;
  border-top-width: 0;
}

table.dataTable thead th, table.dataTable thead td {
  border-color: darken($table-border-color, 5%);
}

$table-email-border: rgb(204, 204, 204)

.table-deploy-email {
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 572px;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid $table-email-border;
  color: rgb(51,51,51);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table-deploy-email-header {
  box-sizing: border-box;
}

.table-deploy-email-header-row {
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  line-height: 1.42857;
  vertical-align: bottom;
  border-top: 0px;
  border-bottom: 2px solid rgb(221, 221, 221);
}

.table-deploy-email-body-shadow {
  background-color: rgb(249, 249, 249);
}

.table-deploy-email-body {
  box-sizing: border-box;
}

.table-deploy-email-key{
  box-sizing: border-box;
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid rgb(221, 221, 221);
}
